/* ============ 이벤트기획전 ============ */
.feautred_list_contents .banner {
    position: relative;
    height: 358px;
    text-align: center;
}

.feautred_list_contents .banner img {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: inherit;
    transform: translateX(-50%);
}

.featured_top .tit_wrap,
.new_contents .tit_wrap,
.time_sale_contents .tit_wrap {
    margin-bottom: 3.6rem;
}

.featured_top .item_banner {
    margin-bottom: 30px;
}

/*
.feautred_list_contents .feautred_contents{
    margin-top:3rem;
}
*/


/* ============ 이벤트 기획전 상세 ============ */
.featured_detail_contents .item_banner .container {
    overflow: hidden;
    position: relative;
    padding: 0;
}

/*.featured_detail_contents .item_banner img {
    width:100%;
    height:100%;
}*/
.featured_top .feautred_select {
    margin-top: 20px;
}

.featured_detail_contents .list_wrap .list_in {
    padding: 30px 0;
}

.featured_detail_contents .total_top .inquiry_write {
    padding: 30px 20px;
}

.featured_detail_contents .item_list.thumb {
    margin-top: 20px;
}

.featured_detail_contents .item_qna .total_top .inquiry_write {
    margin-top: 10px;
}




/* ============ 베스트 ============ */
.best_contents .best_top .price_area {
    /* display: flex; */
}

.best_contents .event_category li {
    width: auto !important;
    margin-right: 20px;
}

.best_contents .event_category li a {
    color: #959595;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.best_contents .item_list.thumb {
    margin-bottom: 40px;
}

.best_contents .item_list .best_sale_area {
    margin-top: 5px;
}



/* ============ 신상품 ============ */
.new_contents .event_category ul li {
    width: auto !important;
    margin-right: 20px;
}

.new_contents .event_category li a.on,
.new_contents .event_category li a:focus,
.new_contents .event_category li a:active {
    color: #333;
    font-weight: 700;
}



/* ============ 타임세일 ============ */
.item_time_sale .sort_area {
    margin-bottom: 30px;
}

.time_sale_contents .item_time_sale .img_area {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-color: #e2e2e2;
}

.time_sale_contents .item_time_sale a {
    display: block;
}

.time_sale_contents .item_time_sale img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.time_sale_contents .time_term {
    flex: 1;
}

.time_sale_contents .time_sale {
    margin-bottom: 0px;
}

.time_sale_contents .icon_d_day {
    position: absolute;
    top: -32px;
    right: 13px;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background: #333;
}

.time_sale_contents .icon_d_day p {
    color: #fff;
    font-size: 1.4rem;
    line-height: 4.6rem;
    text-align: center;
}

/* ============ 스타일북 ============ */
.look_wrap {
    margin-top: 40px;
}


/* --- look_top ---*/

.look_contents .item_head_list {
    display: flex;
    margin-bottom: 20px;
    padding: 0;
}

.look_contents .item_head_list li a {
    color: #999;
    font-size: 1.4rem;
}

.look_contents .item_head_list li:first-child a:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    margin: 0 16px;
    background: #999;
}

.look_contents .item_head_list .dropdown-menu {
    left: 50% !important;
    margin: 0;
    padding: 0;
    min-width: 16rem;
    transform: translate3d(-50%, 25px, 0px) !important;
}

.look_contents .item_head_list .dropdown-menu a {
    padding: 10px 24px;
}

.look_contents .item_head_list .dropdown-menu a:hover {
    color: #333;
    font-weight: 500;
}

.look_contents .filter_select .dropdown-toggle {
    position: relative;
    z-index: 10;
    padding: 0 1.5rem 0 0;
    width: auto;
    color: #d9246f;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Noto Sans KR';
    line-height: 1.4rem;
    border: 0;
    border-radius: 0;
    background: url(/static/images/icon/icon_item_point_link.png) no-repeat center right;
    background-size: 20px auto;
    box-shadow: none;
    vertical-align: middle;
}

.look_contents .filter_select .dropdown-toggle::after {
    display: none;
}

.look_contents .item_head_list .dropdown-item.on {
    color: #333;
    font-weight: 500;
}

.look_wrap .look_top {
    margin-top: 195px;
}

.look_wrap .look_top .look_tit {
    /*font-family: 'Montserrat';*/
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    color: #333;
    text-align: center;
}

.look_wrap .look_top .conts {
    margin-top: 3px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.8rem;
    font-family: 'Noto Sans KR';
    color: #333;
}

.look_wrap .look_top .conts em {
    color: #333;
}


/* --- look_img ---*/
.look_wrap .look_img {
    margin-top: 25px;
}

.look_wrap .look_img .img_inner {
    margin: 0 -5px;
}

.look_wrap .look_img .img_area {
    position: relative;
    width: 50%;
    padding: 5px;
    cursor: pointer;
}

.look_wrap .look_img .hover_area {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.look_wrap .look_img .hover_area a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.look_wrap .look_img .hover_area span {
    display: flex;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* event */
.look_wrap .look_img .img_area:hover .hover_area {
    display: block;
}


/* mobile */
@media (max-width: 767px) {




    /* ============ 이벤트 기획전 ============ */
    .new_contents .sort_area {
        flex-wrap: wrap;
    }

    .new_contents .sort_area .sort_type {
        width: 100%;
    }

    .new_contents .sort_area .btn_sort {
        flex: 1;
    }




    /* ============ 베스트 ============ */
    .best_contents .best_top .item_list.thumb .list_area:nth-child(even),
    .best_contents .best_top .item_list.thumb .list_area:nth-child(odd) {
        padding: 0 15px;
    }

    .best_contents .best_top .item_list.thumb .list_area {
        margin: 8px 0;
    }

    .best_contents .best_top .item_list.thumb {
        margin-bottom: 0;
    }

    .best_contents .item_list.thumb {
        margin-top: 0;
    }
}




@media (min-width: 768px) {

    /* ============ 이벤트 기획전 상세 ============ */
    .featured_detail_contents .item_banner .container {
        padding: 0 20px;
    }

    .featured_detail_contents .total_top .inquiry_write {
        padding: 30px 0;
    }
}




@media (min-width: 992px) {

    /* ============ 스타일북 ============ */
    .look_contents .container {
        max-width: 1300px;
    }

    .look_wrap {
        margin-top: 120px;
    }


    /* --- look_top ---*/
    .look_wrap .look_top .look_tit {
        line-height: 42px;
    }

    .look_wrap .look_top .conts {
        display: inline-block;
        position: relative;
        font-size: 42px;
        line-height: 62px;
    }

    .look_wrap .look_top .conts span {
        position: relative;
        z-index: 10;
    }

    .look_wrap .look_top .txt {
        margin-top: 8px;
        font-size: 16px;
        text-align: center;
        line-height: 25px;
        color: #333;
    }


    /* --- look_img ---*/
    .look_wrap .look_img {
        position: relative;
        margin-top: 30px;
    }

    .look_wrap .look_img .img_inner {
        margin: 0 -15px;
    }

    .look_wrap .look_img .img_area {
        width: 25%;
        padding: 15px;
    }

    .look_wrap .look_txt {
        position: absolute;
        right: -137px;
        top: 15px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #333;
        transform: rotate(90deg);
        transform-origin: 0 0;
    }
}




@media (min-width: 1200px) {}